---
layout: default
titleAfter: Stellar astronomical objects from the universe.
meta: Discover many planets from the universe both inside and outside our Solar System.
priority: 1.0
---

<h1>Planets of the</h1>
<p>A planet is an astronomical object orbiting a star or stellar remnant that is massive enough to be rounded by its own gravity, is not massive enough to cause thermonuclear fusion, and has cleared its neighbouring region of planetesimals.</p>

<h2>Types of Planets</h2>

<ol>
  {% for planet in site.data.planet-types %}
    <li>
      <a href="{{site.baseurl}}/planets/{{planet.folder}}/">{{planet.title}}</a>
      {{planet.content | markdownify }}
    </li>
  {% endfor %}
</ol>

<h2>Recently Discovered Planets</h2>

<ul>
  {% for news in site.categories.recently-discovered limit:2 %}
    <li>
      <a href="{{site.baseurl}}{{news.url}}">{{news.title}}</a>
      <p>{{news.meta}}</p>
    </li>
  {% endfor %}
</ul>


<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//ggsein.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
